# =========================
# PyInstaller (빌드 결과물)
# =========================
build/
dist/
*.spec

# =========================
# Python (캐시 및 컴파일 파일)
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# 가상 환경 (Virtual Environments)
# =========================
venv/
env/
.venv/
Pipfile.lock

# =========================
# 에디터 및 OS 설정 파일
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# 로그 및 임시 파일
# =========================
*.log
*.tmp